[submodule "XSBench"]
	path = XSBench
	url = https://github.com/ANL-CESAR/XSBench.git
[submodule "gapbs"]
	path = gapbs
	url = https://github.com/sbeamer/gapbs.git
[submodule "JohnnyCache"]
	path = JohnnyCache
	url = https://github.com/BLepers/JohnnyCache.git
